body{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
}

#main_container{
    width: 900px;
    margin: auto;
}

/** Navegación del menú **/

nav {
    display: inline-block;
    width: 740px;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    font-size: 30px;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: brown;
    border-bottom: 3px solid brown;
}

/** Menú titulo **/

#main_title{
    display: inline-block;
}

header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
    font-weight: normal;
}

#logo,header h1 {
    display: inline-block;
    margin-bottom: 0px;
}

header h2 {
    margin-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/** Banner **/

#main_banner {
    background: url('../images/sanfrancisco.jpg') no-repeat;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 4px #181818;
    position: relative;
}

#banner_description {
    position: absolute;
    bottom: 0px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: black;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.red_button {
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    background-color: brown;
    border: 1px solid brown;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 3px 8px 0px 8px;
}

.red_button img {
    border: 0px;
    margin-left: 4px;
}